<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>bankProject2.x</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RegisterControlServlet</servlet-name>
    <servlet-class>com.cx.bank.controller.RegisterControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterControlServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.cx.bank.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExitSystemServlet</servlet-name>
    <servlet-class>com.cx.bank.controller.ExitSystemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitSystemServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WithdrawalServlet</servlet-name>
    <servlet-class>com.cx.bank.controller.WithdrawalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawalServlet</servlet-name>
    <url-pattern>/WithdrawalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DepositServlet</servlet-name>
    <servlet-class>com.cx.bank.controller.DepositServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositServlet</servlet-name>
    <url-pattern>/DepositServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TransferServlet</servlet-name>
    <servlet-class>com.cx.bank.controller.TransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferServlet</servlet-name>
    <url-pattern>/TransferServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdataUser</servlet-name>
    <servlet-class>com.cx.bank.controller.UpdataUserServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdataUser</servlet-name>
    <url-pattern>/updateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyUser</servlet-name>
    <servlet-class>com.cx.bank.controller.modifyUserServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyUser</servlet-name>
    <url-pattern>/modifyUser</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CharsetEncodingFilter</filter-name>
    <filter-class>com.cx.util.CharsetEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharsetEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AccessFilter</filter-name>
    <filter-class>com.cx.util.AccessFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AccessFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>